body{
	  font-family: 'Fredericka the Great', cursive;

  	font-size: 70px;
  	font-style: bold;
  	line-height: 34px;
  	
	background: url("../images/eggspastaimg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  /*opacity:0.3;*/
}

.projectname{
	font-size:85px;

}

#index-banner{
	background-color: rgba(200,200,200,.1);
    /* opacity: .4; */
    height: 100vh;

}


 

