body{
	  

  	
  	
  	
	background: url("../images/eggspastaimg.jpg");
  
  background-repeat: no-repeat;
  background-size: 100%;
  /*opacity:0.3;*/
}

.projectname{
	font-size:85px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: 600;
  margin-top: 0px;

}

#description{

  font-weight: 400;

}

#index-banner{
	/*background-color: rgba(150,150,150,.2);
    /* opacity: .4; */
    /*height: 100em;*/

}

.card-image{
	font-family: ariel;
	font-size: 20px;
  font-weight: 400;
 
  
}

.recipecard   {

  width:200px;
  height:320px;
  text-align: center;
  margin:20px;
}

.images{
  width:200px;
  height:200px;
}

#recipetitle{
  font-size: 18px;
  color: black;
}

#card-display{
  margin-left:135px;
}

#form-display{
  margin:0px;


}
#label{
  color:black;
  font-size: 30px;
  font-weight: 400;
  text-align: center;

}

#tabletitle{
  color:black;
  font-size:25px;
  font-weight: 400;
  text-align: center;
}

#tablebody{
  background: #ffffff

}

td{
  padding:0px;
  text-align: center;
}

#search{
  margin-top: 5px;
}

#textarea1 {

 background: #ffffff;
 margin-top: 20px;
 font-size: 20px;
 padding:0;
 height:20px;
 line-height: 45px;



}

.tablerow{
display: inline-block;

}
 

