body{
	  font-family: 'Fredericka the Great', cursive;

  	font-size: 70px;
  	font-style: bold;
  	line-height: 34px;
  	
	background: url("../images/eggspastaimg.jpg");
  
  background-repeat: no-repeat;
  background-size: 100%;
  /*opacity:0.3;*/
}

.projectname{
	font-size:85px;

}

#index-banner{
	/*background-color: rgba(150,150,150,.2);
    /* opacity: .4; */
    /*height: 100em;*/

}

.card-image{
	font-family: ariel;
	font-size: 20px;
  font-weight: 400;
 
  
}

.recipecard , .images {

  width:200px;
  height:200px;
}

#recipetitle{
  font-size: 10px;
  color: #888888;
}


 

